

<div class="section"> 
    @if(!isListView) {
        <div class="container pt-0">
            <div class="row">
                <div class="col-12 text-end">
                    <button [class]="isListView? 'btn btn-sm btn-success': 'btn btn-sm  btn-secondary'" (click)="isListView = !isListView">Toggle View</button>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-9 text-center">
                    <h1 class="heading" data-aos="fade-up">
                        Create New Property
                    </h1>
                    <form action="#" class="narrow-w form-search align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
                        <div class="row">
                            <div class="col-12">
                                <input type="text" name="title" [(ngModel)]="propertyObj.title" class="form-control px-4" placeholder="Title" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <textarea name="" name="description" [(ngModel)]="propertyObj.description" class="form-control px-4" placeholder="Description" id=""></textarea>
                            </div>
                            <div class="col-6">
                                <textarea name="" name="address" [(ngModel)]="propertyObj.address" class="form-control px-4" placeholder="Address" id=""></textarea>
                            </div>
                        </div>
                        <div class="row pt-3 pb-3">
                            <div class="col-4">
                                <input type="text" name="city" [(ngModel)]="propertyObj.city" class="form-control px-4" placeholder="City" />
                            </div>
                            <div class="col-4">
                                <input type="text" name="state" [(ngModel)]="propertyObj.state" class="form-control px-4" placeholder="State" />
                            </div>
                            <div class="col-4">
                                <input type="text" name="pincode" [(ngModel)]="propertyObj.pincode" class="form-control px-4" placeholder="Pincode" />
                            </div>
                        </div>
                        <div class="row pt-3 pb-3">
                            <div class="col-6">
                                <input type="text" name="propertyType" [(ngModel)]="propertyObj.propertyType" class="form-control px-4" placeholder="Property Type" />
                            </div>
                            <div class="col-6">
                                <input type="number" name="price" [(ngModel)]="propertyObj.price" class="form-control px-4" placeholder="Price" />
                            </div>
                        </div>
                        <div class="row pt-3 pb-3">
    
                            <div class="col-12">
                                <input type="text" name="thumbnailImage" [(ngModel)]="propertyObj.thumbnailImage" class="form-control px-4" placeholder="Thumbnail Image" />
                            </div>
                        </div>
                        @if(propertyObj.propertyId ==0) {
                            <button type="button" (click)="createProperty()"   class="btn btn-primary mt-4">Add Property</button>
                        } @else {
                            <button type="button" (click)="updateProperty()" class="btn btn-success mt-4">Update Property</button>
                        }
                     
                       
                    </form>
                </div>
            </div>
        </div>
    } @else {
        <div class="container">
            <div class="row">
                <div class="col-12 text-end">
                    <button [class]="isListView? 'btn btn-sm btn-success': 'btn btn-sm  btn-secondary'" (click)="isListView = !isListView">Toggle View</button>
                </div>
            </div>
            <table class="table table-bordered text-center mt-4 table-striped">
                <thead>
                    <th>Sr.No</th>
                    <th>Thumbnail Image</th>
                    <th>Title</th>
                    <th>Property Type</th>
                    <th>Description</th>
                    <th>City</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    @for (item of propertyList; track $index) {
                        <tr>
                            <td>{{ $index+1}}</td>
                            <td>
                                <img width="100px" height="100px" [src]="item.thumbnailImage"/>
                            </td>
                            <td>{{item.title}}</td>
                            <td>{{item.propertyType}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.city}}</td>
                            <td>
                                <button class="btn btn-sm btn-warning" (click)="onedit(item)">Edit</button>
                                <button class="btn  btn-sm btn-danger" (click)="onDelete(item.propertyId)">Delete</button>
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    }
   
   
</div>
