 
 
<div class="section" >
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="font-weight-bold text-primary heading">
                    Popular Properties
                </h2>
            </div>
            <div class="col-lg-6 text-lg-end">
                <!-- <p>
                    <a href="#" target="_blank" class="btn btn-primary text-white py-3 px-4">View all properties</a>
                </p> -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="property-slider-wrap">
                    <div class="property-slider"> 
                        @if(!loader) {
                            <div class="row">
                                @for (item of propertyList; track $index) {
                                    <div class="col-3 pt-2">
                                        <div class="property-item">
                                            <a  class="img">
                                                <img [src]="item.thumbnailImage" alt="Image" class="img-fluid" />
                                            </a>
        
                                            <div class="property-content">
                                                <div class="price mb-2"><span>${{item.price}}</span></div>
                                                <div>
                                                    <span class="d-block mb-2 text-black-50">{{item.address}} by  Agent</span>
                                                    <span class="city d-block mb-3">{{item.title}}</span> 
                                                    <a   class="btn btn-primary py-2 px-3" (click)="openEnqueryModel(item.propertyId)">Make an
                                                        Enquiry</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                
     
                            </div>
                        } @else {
                            <div class="row">
                                <div class="col-12 text-center">
                                    <img src="assets/loading-gif.gif"/>
                                </div>
                            </div>
                        }
                       
                        <!-- .item -->
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content"> 
        <div class="modal-header">
          <h4 class="modal-title">Make an Enquiry</h4>
          <button type="button" class="btn-close" (click)="closeEnqueryModel()" data-bs-dismiss="modal"></button>
        </div> 
        <div class="modal-body">
          <textarea class="form-control" [(ngModel)]="enquiryObj.enquiryMessage" placeholder="Add Your Message"> </textarea>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeEnqueryModel()">Close</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="makeEnquery()">Make Enquiry</button>
        </div>
  
      </div>
    </div>
  </div>