 
 
<div class="section" >
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-lg-6">
                <h2 class="font-weight-bold text-primary heading">
                    Popular Properties
                </h2>
            </div>
            <div class="col-lg-6 text-lg-end">
                <p>
                    <a href="#" target="_blank" class="btn btn-primary text-white py-3 px-4">View all properties</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="property-slider-wrap">
                    <div class="property-slider">
                        <div class="row">
                            <div class="col-3">
                                <div class="property-item">
                                    <a href="property-single.html" class="img">
                                        <img src="https://themewagon.github.io/property/images/img_1.jpg" alt="Image" class="img-fluid" />
                                    </a>

                                    <div class="property-content">
                                        <div class="price mb-2"><span>$1,291,000</span></div>
                                        <div>
                                            <span class="d-block mb-2 text-black-50">5232 California Fake, Ave.
                                                21BC</span>
                                            <span class="city d-block mb-3">California, USA</span>

                                            <div class="specs d-flex mb-4">
                                                <span class="d-block d-flex align-items-center me-3">
                                                    <span class="icon-bed me-2"></span>
                                                    <span class="caption">2 beds</span>
                                                </span>
                                                <span class="d-block d-flex align-items-center">
                                                    <span class="icon-bath me-2"></span>
                                                    <span class="caption">2 baths</span>
                                                </span>
                                            </div>

                                            <a href="property-single.html" class="btn btn-primary py-2 px-3">Make an
                                                Enquiry</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- .item -->
                            <div class="col-3">
                                <div class="property-item">
                                    <a href="property-single.html" class="img">
                                        <img src="https://themewagon.github.io/property/images/img_2.jpg" alt="Image" class="img-fluid" />
                                    </a>

                                    <div class="property-content">
                                        <div class="price mb-2"><span>$1,291,000</span></div>
                                        <div>
                                            <span class="d-block mb-2 text-black-50">5232 California Fake, Ave.
                                                21BC</span>
                                            <span class="city d-block mb-3">California, USA</span>

                                            <div class="specs d-flex mb-4">
                                                <span class="d-block d-flex align-items-center me-3">
                                                    <span class="icon-bed me-2"></span>
                                                    <span class="caption">2 beds</span>
                                                </span>
                                                <span class="d-block d-flex align-items-center">
                                                    <span class="icon-bath me-2"></span>
                                                    <span class="caption">2 baths</span>
                                                </span>
                                            </div>

                                            <a href="property-single.html" class="btn btn-primary py-2 px-3">Make an
                                                Enquiry</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .item -->
                            <div class="col-3">
                                <div class="property-item">
                                    <a href="property-single.html" class="img">
                                        <img src="https://themewagon.github.io/property/images/img_3.jpg" alt="Image" class="img-fluid" />
                                    </a>

                                    <div class="property-content">
                                        <div class="price mb-2"><span>$1,291,000</span></div>
                                        <div>
                                            <span class="d-block mb-2 text-black-50">5232 California Fake, Ave.
                                                21BC</span>
                                            <span class="city d-block mb-3">California, USA</span>

                                            <div class="specs d-flex mb-4">
                                                <span class="d-block d-flex align-items-center me-3">
                                                    <span class="icon-bed me-2"></span>
                                                    <span class="caption">2 beds</span>
                                                </span>
                                                <span class="d-block d-flex align-items-center">
                                                    <span class="icon-bath me-2"></span>
                                                    <span class="caption">2 baths</span>
                                                </span>
                                            </div>

                                            <a href="property-single.html" class="btn btn-primary py-2 px-3">Make an
                                                Enquiry</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .item -->
                            <div class="col-3">
                                <div class="property-item">
                                    <a href="property-single.html" class="img">
                                        <img src="https://themewagon.github.io/property/images/img_4.jpg" alt="Image" class="img-fluid" />
                                    </a>

                                    <div class="property-content">
                                        <div class="price mb-2"><span>$1,291,000</span></div>
                                        <div>
                                            <span class="d-block mb-2 text-black-50">5232 California Fake, Ave.
                                                21BC</span>
                                            <span class="city d-block mb-3">California, USA</span>

                                            <div class="specs d-flex mb-4">
                                                <span class="d-block d-flex align-items-center me-3">
                                                    <span class="icon-bed me-2"></span>
                                                    <span class="caption">2 beds</span>
                                                </span>
                                                <span class="d-block d-flex align-items-center">
                                                    <span class="icon-bath me-2"></span>
                                                    <span class="caption">2 baths</span>
                                                </span>
                                            </div>

                                            <a href="property-single.html" class="btn btn-primary py-2 px-3">Make an
                                                Enquiry</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .item -->
                            <div class="col-3">
                                <div class="property-item">
                                    <a href="property-single.html" class="img">
                                        <img src="https://themewagon.github.io/property/images/img_5.jpg" alt="Image" class="img-fluid" />
                                    </a>

                                    <div class="property-content">
                                        <div class="price mb-2"><span>$1,291,000</span></div>
                                        <div>
                                            <span class="d-block mb-2 text-black-50">5232 California Fake, Ave.
                                                21BC</span>
                                            <span class="city d-block mb-3">California, USA</span>

                                            <div class="specs d-flex mb-4">
                                                <span class="d-block d-flex align-items-center me-3">
                                                    <span class="icon-bed me-2"></span>
                                                    <span class="caption">2 beds</span>
                                                </span>
                                                <span class="d-block d-flex align-items-center">
                                                    <span class="icon-bath me-2"></span>
                                                    <span class="caption">2 baths</span>
                                                </span>
                                            </div>

                                            <a href="property-single.html" class="btn btn-primary py-2 px-3">Make an
                                                Enquiry</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .item -->
                            <div class="col-3">
                                <div class="property-item">
                                    <a href="property-single.html" class="img">
                                        <img src="https://themewagon.github.io/property/images/img_6.jpg" alt="Image" class="img-fluid" />
                                    </a>

                                    <div class="property-content">
                                        <div class="price mb-2"><span>$1,291,000</span></div>
                                        <div>
                                            <span class="d-block mb-2 text-black-50">5232 California Fake, Ave.
                                                21BC</span>
                                            <span class="city d-block mb-3">California, USA</span>

                                            <div class="specs d-flex mb-4">
                                                <span class="d-block d-flex align-items-center me-3">
                                                    <span class="icon-bed me-2"></span>
                                                    <span class="caption">2 beds</span>
                                                </span>
                                                <span class="d-block d-flex align-items-center">
                                                    <span class="icon-bath me-2"></span>
                                                    <span class="caption">2 baths</span>
                                                </span>
                                            </div>

                                            <a href="property-single.html" class="btn btn-primary py-2 px-3">Make an
                                                Enquiry</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .item -->
                            <div class="col-3">
                                <div class="property-item">
                                    <a href="property-single.html" class="img">
                                        <img src="https://themewagon.github.io/property/images/img_7.jpg" alt="Image" class="img-fluid" />
                                    </a>

                                    <div class="property-content">
                                        <div class="price mb-2"><span>$1,291,000</span></div>
                                        <div>
                                            <span class="d-block mb-2 text-black-50">5232 California Fake, Ave.
                                                21BC</span>
                                            <span class="city d-block mb-3">California, USA</span>

                                            <div class="specs d-flex mb-4">
                                                <span class="d-block d-flex align-items-center me-3">
                                                    <span class="icon-bed me-2"></span>
                                                    <span class="caption">2 beds</span>
                                                </span>
                                                <span class="d-block d-flex align-items-center">
                                                    <span class="icon-bath me-2"></span>
                                                    <span class="caption">2 baths</span>
                                                </span>
                                            </div>

                                            <a href="property-single.html" class="btn btn-primary py-2 px-3">Make an
                                                Enquiry</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .item -->
                            <div class="col-3">
                                <div class="property-item">
                                    <a href="property-single.html" class="img">
                                        <img src="https://themewagon.github.io/property/images/img_8.jpg" alt="Image" class="img-fluid" />
                                    </a>

                                    <div class="property-content">
                                        <div class="price mb-2"><span>$1,291,000</span></div>
                                        <div>
                                            <span class="d-block mb-2 text-black-50">5232 California Fake, Ave.
                                                21BC</span>
                                            <span class="city d-block mb-3">California, USA</span>

                                            <div class="specs d-flex mb-4">
                                                <span class="d-block d-flex align-items-center me-3">
                                                    <span class="icon-bed me-2"></span>
                                                    <span class="caption">2 beds</span>
                                                </span>
                                                <span class="d-block d-flex align-items-center">
                                                    <span class="icon-bath me-2"></span>
                                                    <span class="caption">2 baths</span>
                                                </span>
                                            </div>

                                            <a href="property-single.html" class="btn btn-primary py-2 px-3">Make an
                                                Enquiry</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .item -->
                            <div class="col-3">
                                <div class="property-item">
                                    <a href="property-single.html" class="img">
                                        <img src="https://themewagon.github.io/property/images/img_1.jpg" alt="Image" class="img-fluid" />
                                    </a>

                                    <div class="property-content">
                                        <div class="price mb-2"><span>$1,291,000</span></div>
                                        <div>
                                            <span class="d-block mb-2 text-black-50">5232 California Fake, Ave.
                                                21BC</span>
                                            <span class="city d-block mb-3">California, USA</span>

                                            <div class="specs d-flex mb-4">
                                                <span class="d-block d-flex align-items-center me-3">
                                                    <span class="icon-bed me-2"></span>
                                                    <span class="caption">2 beds</span>
                                                </span>
                                                <span class="d-block d-flex align-items-center">
                                                    <span class="icon-bath me-2"></span>
                                                    <span class="caption">2 baths</span>
                                                </span>
                                            </div>

                                            <a href="property-single.html" class="btn btn-primary py-2 px-3">Make an
                                                Enquiry</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>