<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-9 text-center">
            <h1 class="heading" data-aos="fade-up">
               Register 
            </h1>
            <form action="#" class="narrow-w form-search align-items-stretch mb-3" data-aos="fade-up"
                data-aos-delay="200">
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control px-4"
                        placeholder="Full Name" />
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control px-4"
                        placeholder="Email-Id" />
                    </div>
                </div>
                <div class="row pt-3 pb-3">
                    <div class="col-6">
                        <input type="text" class="form-control px-4"
                        placeholder="User Name" />
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control px-4"
                        placeholder="Password" />
                    </div>
                </div>
                <div class="row pt-3 pb-3">
                    <div class="col-6">
                        <button type="submit" class="btn btn-white">Are You  Agent</button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary">Are you a Customer</button>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>